footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer_wrapper {
  height: $footerHeight;
  display: flex;
  flex-flow: row wrap;
  // align-items: center;
  background: #fff;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
  transition: 0.3s;
  > * {
    padding: 0 $baseSpacing;
    line-height: $footerHeight;
    white-space: nowrap;
  }
  > * + * {
    // border: 8px solid transparent;
    border-left: 1px solid #ccc;
  }
}
.footerBtn {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: $darkColorText;
  user-select: none;
  i {
    display: none;
    font-size: 28px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
    margin-bottom: $baseSpacing;
  }
}
#school {
  font-weight: bold;
  span {
    font-weight: normal;
    animation: school 0.3s infinite alternate;
    @keyframes school {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
#name {
  margin-left: auto;
}
#myId {
}
#footerBtn_checkbox {
  display: none;
  ~ .footerBtn {
    i {
      animation: footerBtn 1s infinite linear;
      animation-delay: 0.3s;

      @keyframes footerBtn {
        0% {
          transform: rotate(0deg);
        }
        33% {
          transform: rotate(10deg);
        }
        66% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }
  }
  :checked {
    ~ .footerBtn {
      i {
        transform: rotate(180deg);
        animation: none;
      }
    }
    ~ .footer_wrapper {
      height: $footerHeight;
    }
  }
}
