@import "myvar";
.items {
  position: relative;
  margin: auto;
  margin-bottom: $footerHeight;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item {
  outline: none;
  width: calc(100% / 4);
  padding: 0 $baseSpacing;
  transition: 0.3s;
  display: block;
  &#css {
    .item__name {
      background: #0e5099;
      color: #fff;
    }
  }
  &#js {
    .item__name {
      background: #fdd734;
      color: $darkColorText;
    }
  }
  &#jq {
    .item__name {
      background: #1e2e3b;
      color: #ccc;
    }
  }

  &#html {
    .item__name {
      // background-image: linear-gradient(135deg, #6370e4 0%, #8640e1 100%);
      background: #6370e4;
      // background: #8640e1;
      color: #fff;
    }
    .pt50 {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20%;
        background: linear-gradient(
          to top,
          #6370e4 0%,
          #6370e4 30%,
          transparent
        );
      }
    }
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: $brightColorBg;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    position: relative;
    width: 10%;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      padding-top: 100%;
      border-radius: 50%;
      border: 6px solid #0acffe;
      // ...
      border-width: 0 2px;
      transform: translateY(-50%);
      animation: loader 1s infinite;
      @keyframes loader {
        to {
          transform: translateY(-50%) rotate(360deg);
        }
      }
    }
  }
}
.item__cover {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.item__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // padding-top: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}
.pt50 {
  position: relative;
  padding-top: 50%;
  height: 0;
}
.item__name {
  position: relative;
  font-size: calc(10px + 0.5vw);
  text-align: center;
  text-transform: uppercase;
  padding: 4px;
  padding-bottom: $baseSpacing;
  line-height: 1.6;
  transition: 0.3s;
  will-change: clip-path;
}
