@import "myvar";
@font-face {
  font-family: panton;
  src: url(../font/iCielPanton-Light.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: $brightColorText;
}
::-webkit-scrollbar-button {
  display: none;
}
body {
  -webkit-tap-highlight-color: transparent;
  font-family: panton;
  background: #f0f0f0;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
ul {
  list-style-type: none;
}
#main {
  min-height: 100vh;
  overflow: hidden;
}
