@import "myVar";
@import "baseCss";

@font-face {
  font-family: panton;
  src: url(../font/iCielPanton-Light.otf);
}
body {
  font-family: panton;
}

#main {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
@import "header";
@import "items";
@import "footer";
// --------------------------------------------------------------------------------------------------------------------------------------------------
@import "responsive";
