// PC
@media (min-width: 1024px) {
  .practiceList {
    grid-template-columns: repeat(4, auto);
  }
}
// Tablet
@media (max-width: 1023px) {
  .practiceList {
    grid-template-columns: repeat(3, auto);
    row-gap: 4px;
  }
  .practiceItem {
    &:hover {
      transform: none;
      .pt {
        .practiceName {
          transform: none;
        }
      }
    }
  }
}
// Mobile B
@media (max-width: 739px) {
  .practiceList {
    grid-template-columns: repeat(2, auto);
  }
  .practiceItem {
    &:hover {
      transform: none;
      .pt {
        .practiceName {
          transform: none;
        }
      }
    }
  }
}
// Mobile S
@media (max-width: 460px) {
  .header {
    // box-shadow: unset;
  }
  .practiceList {
    grid-template-columns: repeat(1, auto);
    padding: 0;
    margin-top: 0;
  }
  .practiceItem {
    border-radius: 0;
    box-shadow: unset;
  }
}
// Mobile Ss
@media (max-width: 320px) {
}
