footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #595959;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

footer .footer_wrapper {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #fff;
  -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer_wrapper > * {
  padding: 0 8px;
  line-height: 40px;
  white-space: nowrap;
}

footer .footer_wrapper > * + * {
  border-left: 1px solid #ccc;
}

footer .footerBtn {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

footer .footerBtn i {
  display: block;
  font-size: 28px;
  color: currentColor;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 8px;
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

footer #school span {
  -webkit-animation: school 0.3s infinite alternate;
          animation: school 0.3s infinite alternate;
}

@-webkit-keyframes school {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes school {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer #name {
  margin-left: auto;
}

footer #footerBtn_checkbox {
  display: none;
}

footer #footerBtn_checkbox:checked ~ .footerBtn i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

footer #footerBtn_checkbox:checked ~ .footer_wrapper {
  height: 0;
}

footer.dark {
  color: #ccc;
}

footer.dark .footer_wrapper {
  background: #252525;
  -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.4);
}

footer.dark .footer_wrapper > * + * {
  border-left: 1px solid #595959;
}

footer.dark .footerBtn i {
  -webkit-box-shadow: 0 0 6px black;
          box-shadow: 0 0 6px black;
  background: #252525;
}

@media (max-width: 1023px) {
  .footer_wrapper {
    height: 40px !important;
  }
  .footerBtn {
    display: none;
  }
}

::-webkit-scrollbar {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}

#main {
  background: #252525;
  color: #ccc;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  background: #252525;
}

.header__title {
  padding: 0 16px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 4px 0 8px rgba(0, 0, 0, 0.9);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__title ::before {
  content: "_";
}

.back {
  padding: 0 16px;
  margin-left: auto;
  height: 100%;
  line-height: 52px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.back:hover {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.back:hover i {
  width: 32px;
}

.back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back a i {
  display: block;
  width: 0;
  overflow: hidden;
  font-size: 32px;
  padding-left: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  will-change: width;
  -webkit-box-sizing: unset;
          box-sizing: unset;
}

.practiceWrapper {
  margin-top: 52px;
  margin-bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
}

.practiceList {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 16px;
  margin-top: 16px;
  padding: 0 16px;
}

.practiceItem {
  position: relative;
  width: 100%;
  border-radius: 8px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  overflow: hidden;
}

.practiceItem:hover a {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.practiceItem .pt {
  padding-top: 50%;
}

.practiceItem a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: 90px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  background: currentColor;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.practiceItem a::after {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  content: "";
  width: 50%;
  background: currentColor;
  -webkit-clip-path: polygon(0 0, 50% 50%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.practiceItem a .practiceName {
  color: #fff;
}

.practiceItem .practiceItem__BG {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.practiceItem:nth-child(2n + 1) .practiceItem__BG {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c71d6f), to(#d09693));
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}

.practiceItem:nth-child(2n) .practiceItem__BG {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

@media (min-width: 1024px) {
  .practiceList {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .practiceList {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 739px) {
  .practiceList {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 460px) {
  .practiceList {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
}
/*# sourceMappingURL=style.css.map */